<h1> Content </h1>

<div class="container">
<div class="row">

<div class="col-md-6">
<a id="{{content.id}}" class="btn draggable" style="position: relative; display: block; width: 100px; height: 100px; background-image: url(images/{{content.source}}); background-size: contain; background-position: center; background-repeat: no-repeat;" ng-repeat="content in contents track by $index" on-finish-render="contentLoaded">{{content.title}}</a>
</div>

<div class="col-md-6">
<div class="menuboard" style="width: {{menuboard.resolutionX * .1}}px; height: {{menuboard.resolutionY * .1}}px;">
  <div class="droppable" ng-repeat="zone in menuboard.zones" style="border: solid 2px #CCC; box-sizing: border-box; position: absolute; left: {{zone.posX * .1}}px; top: {{zone.posY * .1}}px;  width: {{zone.width * .1}}px; height: {{zone.height * .1}}px;" on-finish-render="menuboardLoaded"  id="{{zone.id}}">
  </div>
</div>
</div>

</div>
</div>